
  <div id="modal-holder"></div>
  <p id="notice"><%= notice %></p>
  <%= render 'dashboard/partials/balance' %> <!-- Card to show the balance in real time -->
  <%= render 'dashboard/partials/transactions' %> <!-- Card to show all transactions-->
  
