<!-- Card to show the balance in real time -->
<div class="card card-balance">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h3>Total: <%= number_to_currency_br(@total) %></h3>
      </div>
      <div class="col">
        <div style="float:right">
          <%= link_to 'Criar Transferência', new_withdraw_transactions_path, class: 'btn btn-outline-primary', data: { modal: true } %>

          <%= link_to 'Criar Depósito', new_deposit_transactions_path, class: 'btn btn-outline-primary', data: { modal: true } %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
