<!-- Card to show all the Deposits-->  


<div class="card card-transactions">
<h3 class="transactions-title">Extrato de Depósitos</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <% @deposits.each do |deposit| %>
        <tr>
          <td scope="row"><%= deposit.created_at.strftime("%d/%m/%Y - %T") %></td>
          <td>
            Depósito recebido.
          </td>
          <td scope="row">
            <span class="badge badge-pill badge-success"
            >+ <%= number_to_currency_br(deposit.value) %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>