<!-- Main navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><%= image_tag("logoMedcapital.png", style: "height:30px") %></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- ToDo -->
    </ul>
    
      <button class="btn btn-outline-success my-2 my-sm-0">Desconectar</button>
    
  </div>
</nav>
<!-- /main navbar -->
